<div class="container">
  <div class="user-details">
    <h3> About Me</h3>
    <p> Hi there! 👋 I’m Andrew. I’m an iOS engineer based in Cairo, Egypt, Timely delivered quality iOS apps are what I do the best,
      owing to the combination of inborn perfectionism and fancy user experience.<br>
       If you’d like to get in touch, feel free to say hello through any of the social links above.
    </p>
  </div>
  <div class="row user">
    <div class="six columns">
      <h4>Code</h4>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
<!--       <p></p> -->
    </div>
    <div class="six columns">
      <h4>Tools</h4>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
<!--       <p></p> -->
    </div>
  </div>
</div>
