<div id="particles-js">
  <div class="content">
    <h1>
      <span class="site-icon"><img src="{{ " /assets/img/PP.png" | prepend: site.baseurl }}"></span>
      <span class="site-title">Andrew Fakher</span>
      <span class="site-description">iOS Engineer</span>
    </h1>
    <div class="icons-header">
      <a aria-label="Send me an email" title="Send me an email" href="mailto:andrewfakher6@gmail.com"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="Visit me on GitHub" title="Visit me on GitHub" target="_blank" href="https://github.com/AndrewFakher"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      <a aria-label="Visit me on Twitter" title="Visit me on Twitter" target="_blank" href="https://twitter.com/FakherAndrew"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      <a aria-label="Visit me on LinkedIn" title="Visit me on LinkedIn" target="_blank" href="https://www.linkedin.com/in/andrewfakher6/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      <a aria-label="Visit me on Spotify" title="Visit me on Spotify" target="_blank" href="https://open.spotify.com/user/andrewfakher"><i class="icon fa fa-spotify" aria-hidden="true"></i></a>
<!--       <a aria-label="Visit me on Stack Overflow" title="Visit me on Stack Overflow" target="_blank" href=""><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a> -->
    </div>
<!--     <a class="link" href="https://www.google.com">Résumé</a> -->
   </div>
</div>

 
