<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="" src="{{ " /assets/img/MSInsider.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> MS Insider </h5>
       <ul>
         <li> Swift 4</li>
         <li> Realm / KeyChain</li>
         <li> Firebase / Crashlytics</li>
         <li> Navigation Coordinator</li>
       </ul>
      <p>MS Insider was made to help doctors diagnose patients with 
        Multiple Sclerosis and to provide neurologists with valuable scientific content and useful tools needed in their day
        to day practice.</p>
      <div >
     <a style="text-decoration:none" href="https://apps.apple.com/us/app/ms-insider/id1478935674" >
     <img style="width:13.5rem;height:4rem"   src="{{ "/assets/img/appstore.png" | prepend: site.baseurl }}" />
     </a>
        </div>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="CodeSmith Generator" src="{{ " /assets/img/Hindawi.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Hindawi Kotob </h5>
      <ul>
        <li> VIPER architecture</li>
        <li> Coredata</li>
        <li> FolioReader Kit</li>
        <li> File Manager</li>
      </ul>
      <p>Hindawi Kotob presents a unique digital reading experience for Arabic publications.Hindawi Library contains many books in various fields; In science, politics, economics, history, philosophy, literature, arts and science fiction</p>
        <div >
     <a style="text-decoration:none" href="https://apps.apple.com/us/app/هنداوي-كتب/id1296718056" >
     <img style="width:13.5rem;height:4rem"   src="{{ "/assets/img/appstore.png" | prepend: site.baseurl }}" />
     </a>
        </div>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="" src="{{ " /assets/img/SmartChoice.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Smart Choice </h5>
       <ul>
         <li>MVP</li>
        <li> MapKit</li>
        <li> Facebook SDK / Google SDK</li>
        <li>Alamofire</li>
        <li>Core Animation</li>
       </ul>
      <p>Smart Choice allows customers to view the nearest markets that provide offers in their products depends on the physical card owned by the user, based in KSA.</p>
      <div >
     <a style="text-decoration:none" href="https://apps.apple.com/us/app/الاختيار-الذكي/id1358816203" >
     <img style="width:13.5rem;height:4rem"   src="{{ "/assets/img/appstore.png" | prepend: site.baseurl }}" />
     </a>
        </div>
    </div>
  </div>
</div>

